<div class="header clearfix py-2">
    <nav>
        <ul class="custom-nav nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link active" href="#">Messages <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Numbers</a>
            </li>
            <a class="nav-link link" href="#">Sign Out</a>
        </ul>
    </nav>
    <h4 class="text-muted">Webtexter (alpha)</h4>
</div>
